<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'welcome/navbar' %>

<div class="row well">
	<div class="col-md-8 col-md-offset-1">
		<h2><code>CagedBeast Class	</code></h2>
		<h2>
			<small>Builds a hash from info from: <%= link_to "http://www.boxofficemojo.com/movies/", 'http://www.boxofficemojo.com/movies/'  %>
			</small>
		</h2>
		<p><%= image_tag('scrape/cage/scrape-1.png') %></p>
		<p><%= image_tag('scrape/cage/scrape-2.png') %></p>
		<p><%= image_tag('scrape/cage/scrape-3.png') %></p>
		<h2>Show Method</h2>
		<h2><small>Puts all three hashes together to give a final hash thats formatted</small></h2>
		<p><%= image_tag('scrape/cage/scrape-4.png') %></p>
		<h2><code>CagedBeastCSV class</code></h2>
		<h2><small>This class pulls in data from <code>CagedBeast</code>object.</small></h2>
		<h2><small>Then it prints a csv to put on the server for D3 to parse</small></h2>
		<p><%= image_tag('scrape/cage_csv/scrape_csv-1.png') %></p>
	</div>

</div>